@use "../variables";

.carousel {
  padding: 81px 0;
  &__inner {
    margin: 0 auto;
    position: relative;
    width: 750px;
    margin: 0 auto;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .prev,
  .next {
    border: none;
    background-color: variables.$main-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .next {
    right: -66px;
    left: auto;
  }
  .container {
    .tns-outer {
      min-height: 580px;
      element.style {
        height: 200px;
      }
    }
  }
}
