@use "../variables";
@use "buttons";

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(../img/bg/mid-bg_run_shoe.png) center (center/cover) no-repeat;
  &__descr {
    color: variables.$main-color;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    color: variables.$advantages-color;
    border: none;
    text-align: center;
    margin-bottom: 15px;
  }
}
