@use "../variables";

@media (max-width: 320px) {
  .advantages {
    padding: 40px 0 50px 0;
    &__block {
      margin-top: 30px;
      span {
        margin: 0;
      }
    }
  }

  .consultation {
    min-height: 500px;
    padding: 38px 0 50px 0;
    &__descr {
      padding: 0 20px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .title {
    font-size: 22px;
    &_left {
      padding: 0 20px;
      font-size: 19px;
      line-height: 27px;
    }
  }

  .feed-form {
    align-items: center;
    input {
      min-width: 260px;
    }
  }

  .button {
    &_submit {
      min-width: 260px;
      height: 45px;
    }
  }

  .carousel {
    .container {
      .tns-outer {
        min-height: 260px;
      }
    }
  }

  .footer {
    &__map {
      height: 380px;
    }
    &__info {
      height: 170px;
      padding: 30px 25px;
    }
    &__addr {
      margin-bottom: 15px;
      font-size: 16px;
    }
    &__phone {
      margin-bottom: 15px;
      font-size: 19px;
    }
    &__social-item {
      width: 42px;
      height: 42px;
      img {
        height: 24px;
      }
    }
  }
}
