@use "../variables";

@media (max-width: 575px) {
  .header {
    align-items: start;
    &__left {
      display: flex;
      flex-direction: column;
    }
    &__logo {
      width: 250px;
    }
    &__official {
      font-size: 14px;
      margin-top: 20px;
      span {
        font-size: 21px;
      }
    }
    &_575 {
      display: flex;
    }
    &_1399 {
      display: none;
    }
  }

  .promo {
    &__wrapper {
      align-items: center;
    }
  }

  .catalog {
    &__tabs {
      flex-direction: column;
    }
    &__tab {
      margin-bottom: 10px;
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
  .client {
    flex-direction: column;
    margin-top: 40px;
    &__logo {
      margin: 0 auto;
    }
    &__comment {
      margin-top: 30px;
    }
    &__name {
      text-align: center;
    }
    &__marafons {
      text-align: center;
    }
  }
  .carousel {
    .container {
      .tns-outer {
        min-height: 440px;
      }
    }
  }
}
