@use "../variables";

@media (max-width: 991px) {
  .consultation {
    padding-left: 20px;
  }
  .carousel {
    padding: 41px 0;
  }
  .catalog {
    &__content {
      &_active {
        justify-content: space-around;
      }
    }
  }
}
